<section class="footer mt-10">
	<footer class="footer footer-center p-10 text-base-content">
		<div class="grid grid-flow-col gap-4">
			{% for item in menu %}
			<a href="{{item.url}}" class="link link-hover">{{item.name}}</a>
			{% endfor %}
		</div>
		{% if socials %}
		<div>
			<div class="grid grid-flow-col gap-4">
				{% for social in socials %}
				<a href="{{social.link}}">
					<i class="fa fa-{{ social.faIcon|lower }}"></i>
				</a>
				{% endfor %}
			</div>
		</div>
		{% else %} {% endif %}
		<div>
			<p>Made with &#60;3 by Catherine Laserna</p>
		</div>
	</footer>
</section>
